<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.GerenciadorContratos"
        tools:targetApi="34">

        <activity
            android:name=".features.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </activity>
        <activity
            android:name=".features.forgetPassword.ForgetPassword"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name=".features.home.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.GerenciadorContratos" />

        <activity android:name=".features.active_contract.ActiveContractActivity"
            android:exported="false"/>


        <activity android:name=".features.contratosVencidos.ContratosVencidosActivity"
            android:exported="false"/>

            <activity android:name=".features.ContratosPendentes.ContratosPendentesActivity"
                android:exported="false"/>

        <activity android:name=".features.todosContratos.TodosContratosActivity"
            android:exported="false"/>

    </application>

</manifest>